---
import Default from "../../../layouts/Default.astro";
import { getPlants, filePathPlants } from "../../../config_pocketbase";
import { t } from "../../../data/lang/de/0";

// create all the routes with specific detail page props
export async function getStaticPaths() {
  return (await getPlants()).map((plant) => ({
    params: {
      slug: plant.slug,
    },
    props: {
      plant,
    },
  }));
}

interface Props {
  plant: any;
}

const { plant } = Astro.props;
---

<Default
  title={plant.name}
  desc={plant.desc}
  bc_cat={t.pages.plants.slug}
  bc_catname={t.pages.plants.name}
  t={t}
>
  <div slot="main">
    <article>
      <h1 class="title">{plant.name}</h1>
      <p>{plant.desc}</p>
    </article>
  </div>
</Default>
