---
import { Picture } from "@astrojs/image/components";
import { baseUrl } from "../../config_pocketbase";
import GalleryLightbox from "./GalleryLightbox.astro";

const { images, seed, t } = Astro.props;
const { numberOfImages } = images.length;

const src = baseUrl + "/api/files/" + seed.collectionId + "/" + seed.id + "/";
---

<section class="gallery" id="gallery">
  <h2>{t.title}</h2>
  <ul class="lb-album">
    {
      images.map((image: string, index) => (
        <li class="img">
          <a href={"#overlay-" + index}>
            <Picture
              alt="Thumbnail"
              aspectRatio="1:1"
              formats={["avif", "webp", "jpeg"]}
              sizes={"(max-width: 3000px) 100px,100px"}
              src={src + image}
              widths={[100, 200]}
            />
          </a>
          <GalleryLightbox
            images={images}
            image={image}
            seed={seed}
            index={index}
          />
        </li>
      ))
    }
  </ul>
</section>

<style>
  .images {
    display: flex;
    padding: var(--padd-md) 0 0 0;
  }

  .img {
    aspect-ration: 1 / 1;
    padding: 0 var(--padd-md) 0 0;
    width: 135px;
  }
</style>
