---
import { Icon } from "astro-icon";
//import { filePathSteps } from "../../config_pocketbase";
import Steps from "./Steps.astro";

const { costs, materials, steps, time, tools } = Astro.props;
---

<section class="howto">
  <h2>Anleitung</h2>

  <div class="prep">
    <ul class="">
      <h3>Vorbereitung</h3>
      <li>
        <Icon name="mdi:book-check-outline" />
        Benötigte Materialien: {materials}
      </li>
      <li>
        <Icon name="mdi:tools" />
        Benötigte Werkzeuge:
        {tools}
      </li>

      <li>
        <Icon name="mdi:wallet" />
        Kosten:
        {costs} CHF
      </li>

      <li>
        <Icon name="mdi:clock-time-eight" />
        Benötigte Zeit:
        {time} Stunden
      </li>
    </ul>
  </div>
  <div class="steps">
    <h3>Schritte</h3>

    {steps.map((step, index) => <Steps step={step} index={index} />)}
  </div>
</section>

<style>
  .howto svg {
    height: 20px;
    transform: translateY(0.25rem);
    width: 20px;
  }

  h3 {
    padding: 0;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    font-weight: var(--fw-xl);
  }
</style>
