---
import { Icon } from "astro-icon";
//import { filePathSteps } from "../../config_pocketbase";
import Steps from "./Steps.astro";

const { costs, materials, steps, time, tools } = Astro.props;
---

<section class="howto">
  <h2>Anleitung</h2>

  <div class="prep">
    <ul class="list-group list-group-flush">
      <h3>Vorbereitung</h3>
      <li class="list-group-item">
        <Icon name="mdi:book-check-outline" />
        <b>Benötigte Materialien:</b>: {materials}
      </li>
      <li class="list-group-item">
        <Icon name="mdi:tools" />
        <b>Benötigte Werkzeuge:</b>
        {tools}
      </li>

      <li class="list-group-item">
        <Icon name="mdi:cash" />
        <b>Kosten:</b>
        {costs} CHF
      </li>

      <li class="list-group-item">
        <Icon name="mdi:clock-time-eight" />
        <b>Benötigte Zeit:</b>
        {time} Stunden
      </li>
    </ul>
  </div>
  <div class="steps">
    <h3>Schritte</h3>

    {steps.map((step) => <Steps step={step} />)}
  </div>
</section>

<style>
  .howto svg {
    height: 20px;
    transform: translateY(0.25rem);
    width: 20px;
  }
</style>
