---
import { changeLanguage } from "i18next";
import Default from "../../../layouts/Default.astro";
import { getEnvironments } from "../../../config_pocketbase";
import { t } from "../../../data/lang/de/0";

changeLanguage("en");

// create all the routes with specific detail page props
export async function getStaticPaths() {
    return (await getEnvironments()).map((env) => ({
        params: {
            slug: env.slug,
        },
        props: {
            env,
        },
    }));
}
interface Props {
    env: any;
}
const { env } = Astro.props;
---

<Default
  title={env.name}
  desc={env.desc}
  bc_cat={t.pages.environments.slug}
  bc_catname={t.pages.environments.name}
  t={t}
>
  <div slot="main">
    <article>
      <h1 class="title">{env.name}</h1>
      <p>{env.desc}</p>
    </article>
  </div>
</Default>
