---
import Breadcrumbs from "astro-breadcrumbs";
import Default from "../../layouts/Default.astro";
import { getEnvironments } from "../../config_pocketbase";

// create all the routes with specific detail page props
export async function getStaticPaths() {
  return (await getEnvironments()).map((env) => ({
    params: {
      slug: env.slug,
    },
    props: {
      env,
    },
  }));
}

interface Props {
  env: any;
}

const { env } = Astro.props;
---

<Default
  title={env.name}
  desc={env.desc}
  bc_cat="environments"
  bc_catname="Ökosysteme"
  bc_page={env.name}
>
  <div slot="main">
    <Breadcrumbs indexText={"home"}>
      <span slot="separator" class="c-breadcrumbs__separator">
        <!-- Add icon or text here -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </span>
    </Breadcrumbs>
    <article>
      <h1 class="title">{env.name}</h1>
      <p>{env.desc}</p>
    </article>
  </div>
</Default>
