---
import Default from "../../layouts/Default.astro";
import DetailVisual from "../../components/Elements/DetailVisual.astro";
import { getSeeds, filePath } from "../../config_pocketbase";
import Tags from "../../components/Elements/Tags.astro";

// create all the routes with specific detail page props
export async function getStaticPaths() {
  return (await getSeeds()).map((seed) => ({
    params: {
      slug: seed.slug,
    },
    props: {
      seed,
    },
  }));
}

interface Props {
  seed: any;
}

const { seed } = Astro.props;
---

<Default
  title={seed.name}
  desc={seed.desc_short}
  bc_cat="seeds"
  bc_catname="Seeds"
  bc_page={seed.name}
>
  <div slot="main">
    <article>
      <h1>{seed.name}</h1>

      <DetailVisual name={seed.name} pathfunction={filePath(seed, "img")} />

      Autor: <a href={"/authors/" + seed.expand.author.slug}>
        {seed.expand.author.firstname}
        {" "}
        {seed.expand.author.lastname}
      </a>

      <hr />
      <p>{seed.desc_short}</p>

      <div>Kosten: {seed.costs} CHF</div>
      <div>Benötigte Materialien</div>
      <div>Anleitung</div>
      <div>Bilder-Gallerie</div>
      <div>
        Inspirational: Wusstest Du, dass Du einen Teich zur Wärmereflektion
        nutzen kannst? Warum nicht Aprikosen pflanzen hinter dem Teich?
      </div>

      <section class="tags">
        {
          seed.expand.principles.map((principle) => (
            <Tags
              label={principle.name}
              url={"/principles/" + principle.slug}
            />
          ))
        }{
          seed.expand.animals.map((animal) => (
            <Tags label={animal.name} url={"/animals/" + animal.slug} />
          ))
        }{
          seed.expand.plants.map((plant) => (
            <Tags label={plant.name} url={"/plants/" + plant.slug} />
          ))
        }{
          seed.expand.environments.map((env) => (
            <Tags label={env.name} url={"/environments/" + env.slug} />
          ))
        }
      </section>
    </article>

    {/* console.log(seed.expand.plants) */}
  </div>
</Default>
