---
import Default from "../../layouts/Default.astro";
import { getSeeds, filePath } from "../../config_pocketbase";
import { Picture } from "@astrojs/image/components";

// create all the routes with specific detail page props
export async function getStaticPaths() {
  return (await getSeeds()).map((seed) => ({
    params: {
      slug: seed.slug,
    },
    props: {
      seed,
    },
  }));
}

interface Props {
  seed: any;
}

const { seed } = Astro.props;
---

<Default
  title={seed.name}
  desc={seed.desc_short}
  bc_cat="seeds"
  bc_catname="Seeds"
  bc_page={seed.name}
>
  <div slot="main">
    <article>
      <Picture
        src={filePath(seed, "img")}
        widths={[1280]}
        aspectRatio="10:4"
        sizes="(max-width: 1280px) 1280px"
        formats={["avif", "webp", "jpeg"]}
        alt={"Keyvisual " + seed.name}
        class=""
      />

      <h1>{seed.name}</h1>

      Autor: <a href={"/authors/" + seed.expand.author.slug}>
        {seed.expand.author.firstname}
        {" "}
        {seed.expand.author.lastname}
      </a>

      <hr />
      <p>{seed.desc_short}</p>

      <div>Kosten: {seed.costs} CHF</div>
      <div>Benötigte Materialien</div>
      <div>Anleitung</div>
      <div>Bilder-Gallerie</div>
      <div>
        Design-Prinzipien: {
          seed.expand.principles.map((principle) => (
            <a href={"/principles/" + principle.slug}>{principle.name}</a>
          ))
        }
      </div>
      <div>Inspirational:</div>
      <div>
        Tiere: {
          seed.expand.animals.map((animal) => (
            <a href={"/animals/" + animal.slug}>{animal.name}</a>
          ))
        }
      </div>
      <div>
        Pflanzen: {
          seed.expand.plants.map((plant) => (
            <a href={"/plants/" + plant.slug}>{plant.name}</a>
          ))
        }
      </div>
      <div>
        Umgebungen: {
          seed.expand.environments.map((environment) => (
            <a href={"/environments/" + environment.slug}>{environment.name}</a>
          ))
        }
      </div>
    </article>

    {/* console.log(seed.expand.plants) */}
  </div>
</Default>
