---
import AuthorThumb from "../../components/Elements/AuthorThumb.astro";
import Default from "../../layouts/Default.astro";
import DetailVisual from "../../components/Elements/DetailVisual.astro";
import { getSeeds, filePath, filePathAuthors } from "../../config_pocketbase";
import HowTo from "../../components/SeedDetail/HowTo.astro";
import Tags from "../../components/Elements/Tags.astro";
import Gallery from "../../components/SeedDetail/Gallery.astro";

// create all the routes with specific detail page props
export async function getStaticPaths() {
  return (await getSeeds()).map((seed) => ({
    params: {
      slug: seed.slug,
    },
    props: {
      seed,
    },
  }));
}

interface Props {
  seed: any;
}

const { seed } = Astro.props;
---

<Default
  title={seed.name}
  desc={seed.desc_short}
  bc_cat="seeds"
  bc_catname="Seeds"
  bc_page={seed.name}
>
  <div slot="main">
    <article>
      <h1>{seed.name}</h1>

      <DetailVisual name={seed.name} pathfunction={filePath(seed, "img")} />

      <AuthorThumb
        author={seed.expand.author}
        pathfunction={filePathAuthors(seed.expand.author, "img")}
      />

      <p class="desc_short">{seed.desc_short}</p>

      <HowTo
        steps={seed.steps}
        costs={seed.costs}
        time={seed.time}
        materials={seed.materials}
        tools={seed.tools}
      />

      <Gallery images={seed.gallery} />

      <section>
        <hr />
        <p class="inspirational">
          Wusstest Du, dass Du einen Teich zur Wärmereflektion nutzen kannst?
          Warum nicht mal Aprikosen pflanzen hinter dem Teich?
        </p>
        <hr />
      </section>

      <section class="taglist">
        {
          seed.expand.principles.map((principle) => (
            <Tags
              label={principle.name}
              url={"/principles/" + principle.slug}
            />
          ))
        }{
          seed.expand.animals.map((animal) => (
            <Tags label={animal.name} url={"/animals/" + animal.slug} />
          ))
        }{
          seed.expand.plants.map((plant) => (
            <Tags label={plant.name} url={"/plants/" + plant.slug} />
          ))
        }{
          seed.expand.environments.map((env) => (
            <Tags label={env.name} url={"/environments/" + env.slug} />
          ))
        }
      </section>
    </article>

    {/* console.log(seed.expand.plants) */}
  </div>
</Default>

<style>
  .desc_short {
    font-weight: var(--fw-lg);
    padding: var(--padd-md) 0 var(--padd-md) 0;
  }

  .inspirational {
    font-style: italic;
  }
  .taglist {
    padding: var(--padd-md) 0 0 0;
  }
</style>
