---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import { Picture } from "@astrojs/image/components";

// import pocketbase functionality
import { getPlants, filePathPlants } from "../../config_pocketbase";

// create all the routes with specific detail page props
export async function getStaticPaths() {
  return (await getPlants()).map((plant) => ({
    params: {
      slug: plant.slug,
    },
    props: {
      plant,
    },
  }));
}

interface Props {
  plant: any;
}

const { plant } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={plant.name} description={plant.desc} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .thmb {
        max-height: 100px;
        max-width: 100px;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <Picture
          src={filePathPlants(plant, "img")}
          widths={[1280]}
          aspectRatio="10:4"
          sizes="(max-width: 1280px) 1280px"
          formats={["avif", "webp", "jpeg"]}
          alt={"Keyvisual " + plant.name}
          class=""
        />

        <h1 class="title">{plant.name}</h1>

        <hr />
        <p>{plant.desc}</p>

        <!--
        <slot />-->
      </article>
    </main>
    <Footer />

    {console.log(plant)}
  </body>
</html>
