---
import Frontpage from "../../layouts/Frontpage.astro";
import { getSeeds } from "../../config_pocketbase";
import { t } from "../../data/lang/de/0";

const seeds = await getSeeds();
---

<Frontpage title={t.pages.frontpage.name} desc={t.pages.frontpage.desc} t={t}>
  <div slot="main">
    <h1 style="font-size:var(--fs-md);">Welcome</h1>
    <p>This page is experimental... under construction</p>
    <ul>
      {
        seeds.map((seed) => (
          <li>
            <a href={t.pages.seeds.slug + "/" + seed.slug}>
              {seed.name},{" "}
              {seed.expand.author.firstname + " " + seed.expand.author.lastname}
            </a>
          </li>
        ))
      }
    </ul>
    <h2>Overview lists</h2>
    <ul>
      <li>
        <a href={t.pages.environments.slug}>{t.pages.environments.name}</a>
        <li>
          <a href={t.pages.plants.slug}>{t.pages.plants.name}</a>
        </li>
        <li>
          <a href={t.pages.animals.slug}>{t.pages.animals.name}</a>
        </li>
        <li>
          <a href={t.pages.principles.slug}>{t.pages.principles.name}</a>
        </li>
        <li>
          <a href={t.pages.authors.slug}>{t.pages.authors.name}</a>
        </li>
      </li>
    </ul>
  </div>
</Frontpage>
