---
const today = new Date();
const { t } = Astro.props;
---

<footer>
  <div class="indent-me">
    <a href={t.imprint.slug}>{t.imprint.name}</a> |
    <a href={t.dataprotection.slug}>{t.dataprotection.name}</a> |
    <a href={t.impactfactory.slug}>{t.impactfactory.name}</a>. &copy; {
      today.getFullYear()
    }
  </div>
</footer>

<style>
  footer {
    background: hsl(var(--dark) / 1);
    color: hsl(var(--light));
    display: block;
    height: auto;
    padding: var(--padd-md);
  }

  a {
    color: hsl(var(--light)) !important;
  }

  .indent-me {
    text-align: center;
  }
</style>
