---
import Default from "@layouts/Default.astro";
import { t } from "../data/lang/de/0";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, published, pubDate, updatedDate },
} = Astro.props;
---

<Default title={title} desc={description} bc_cat="blog" bc_catname="Blog" t={t}>
  <div slot="main">
    <article>
      <h1 class="title">{title}</h1>
      {pubDate && <time>{pubDate}</time>}
      {
        updatedDate && (
          <div>
            Last updated on <time>{updatedDate}</time>
          </div>
        )
      }
      <hr />
      <slot />
    </article>
  </div>
</Default>
