---
import Adsense from "../components/Meta/Adsense.astro";
import Breadcrumbs from "../components/Elements/Breadcrumbs/Breadcrumbs.astro";
import Footer from "../components/Footer/Footer.astro";
import Facebook from "../components/Meta/Facebook.astro";
import Favicons from "../components/Meta/Favicons.astro";
import Header from "../components/Header/Header.astro";
import Linkrel from "../components/Meta/Linkrel.astro";
import Metas from "../components/Meta/Metas.astro";
import site from "../data/site.json";
import Twitter from "../components/Meta/Twitter.astro";
import "../styles/custom.scss";

const { bc_cat, bc_catname, bc_page, desc, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="de-CH">
  <head>
    <Metas site={site} title={title} desc={desc} />
    <!--<Preconnect /> -->
    <Linkrel site={site} />
    <title>{title + site.name}</title>
    <Facebook site={site} title={title} desc={desc} />
    <Twitter site={site} title={title} desc={desc} />
    <Favicons site={site} />
    <Adsense />
  </head>
  <body>
    <Header />
    <main class="indent-me">
      <Breadcrumbs cat={bc_cat} cat_name={bc_catname} page_name={bc_page} />
      <slot name="main" />
    </main>
    <Footer />
    <slot name="json" />
  </body>
</html>
