---
import Adsense from "../components/Meta/Adsense.astro";
import Footer from "../components/Footer/Footer.astro";
import Facebook from "../components/Meta/Facebook.astro";
import Favicons from "../components/Meta/Favicons.astro";
import Header from "../components/Header/Header.astro";
import i18next, { t } from "i18next";
import Linkrel from "../components/Meta/Linkrel.astro";
import Metas from "../components/Meta/Metas.astro";
import { site } from "../data/site";
import Twitter from "../components/Meta/Twitter.astro";
import "../styles/custom.scss";

const { desc, title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <Metas title={title} desc={desc} />
    <!--<Preconnect /> -->
    <Linkrel />
    <title>{title + site.name}</title>
    <Facebook title={title} desc={desc} />
    <Twitter title={title} desc={desc} />
    <Favicons />
    <!--<Adsense />-->
  </head>
  <body>
    <Header />
    <main class="indent-me">
      <slot name="main" />
    </main>
    <Footer />
    <slot name="json" />
  </body>
</html>
