---
import Adsense from "../components/Meta/Adsense.astro";
import Footer from "../components/Footer/Footer.astro";
import Facebook from "../components/Meta/Facebook.astro";
import Favicons from "../components/Meta/Favicons.astro";
import Header from "../components/Header/Header.astro";
import Linkrel from "../components/Meta/Linkrel.astro";
import Metas from "../components/Meta/Metas.astro";
import { site } from "../data/site";
import Twitter from "../components/Meta/Twitter.astro";
import "../styles/custom.scss";

const { desc, t, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="de-CH">
  <head>
    <Metas site={site} title={title} desc={desc} />
    <!--<Preconnect /> -->
    <Linkrel site={site} t={t} />
    <title>{title + site.name}</title>
    <Facebook site={site} title={title} desc={desc} />
    <Twitter site={site} title={title} desc={desc} />
    <Favicons site={site} />
    <!--<Adsense />-->
  </head>
  <body>
    <Header t={t.pages} />
    <main class="indent-me">
      <slot name="main" />
    </main>
    <Footer t={t.pages} />
    <slot name="json" />
  </body>
</html>
